@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Lato-Regular.woff2") format("woff2"), url("../../assets/fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/RobotoCondensed-Medium.woff2") format("woff2"), url("../../assets/fonts/RobotoCondensed-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Lato-Bold.woff2") format("woff2"), url("../../assets/fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: normal;
  src: url("../../assets/fonts/Lato-Heavy.woff2") format("woff2"), url("../../assets/fonts/Lato-Heavy.woff") format("woff");
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
  outline: none;
  background-color: transparent;
}

fieldset {
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
@media (min-width: 992px) {
  body {
    font-size: calc(0.0021551724 * 100vw + 13.8620689655px);
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  body {
    line-height: calc(0.0056034483 * 100vw + 14.4413793103px);
  }
}
@media (min-width: 1920px) {
  body {
    line-height: 25.2px;
  }
}
body.no-scroll {
  overflow-y: hidden;
}

.wrapper {
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  width: 962px;
  width: 100%;
  max-width: 1306px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .container {
    width: calc(0.4030172414 * 100vw + 562.2068965517px);
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1336px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: none;
  }
}

[class$=__icon],
[class$=-icon] {
  display: flex;
  align-items: center;
}
[class$=__icon] svg path,
[class$=-icon] svg path {
  transition: fill 0.23s ease-in-out, stroke 0.23s ease-in-out;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}
.menu {
  font-family: "Exo";
  font-weight: 600;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.menu__item--hidden {
  display: none;
}
.menu__link {
  font-size: 14px;
  color: #2B2B28;
  transition: color 0.23s ease-in-out;
}
@media (min-width: 992px) {
  .menu__link {
    font-size: calc(0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .menu__link {
    font-size: 16px;
  }
}
.menu__link:hover {
  color: #FAB700;
}
.menu__close {
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 5;
  cursor: pointer;
  margin-left: auto;
}
.menu__close::before, .menu__close::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  background: #2B2B28;
  border-radius: 3px;
  transition: all 0.23s ease-in-out;
}
.menu__close::before {
  transform: translateY(-50%) rotate(45deg);
}
.menu__close::after {
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-200%);
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    flex-shrink: unset;
    transition: transform 0.23s ease-in-out, opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in-out;
    overflow-y: auto;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu--active {
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transform: translateX(0%);
    transition: transform 0.23s ease-in-out, opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in-out;
    justify-content: unset;
  }
  .menu__item {
    padding: 10px 0px;
  }
}
@media (max-width: 576px) {
  .menu {
    width: 100%;
  }
  .menu__item--hidden {
    display: block;
  }
  .menu__link {
    text-align: center;
  }
}
.burger {
  display: none;
}

@media (max-width: 992px) {
  .burger {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #202323;
    padding: 12px 8px;
    z-index: 5;
    border-radius: 7px;
    cursor: pointer;
  }
  .burger__line {
    position: relative;
    display: block;
    width: 12px;
    height: 1px;
    border-radius: 3px;
    background: #454A4A;
    transition: all 0.23s ease-in-out;
  }
  .burger__line::before, .burger__line::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 18px;
    height: 1px;
    background: #454A4A;
    border-radius: 3px;
    transition: all 0.23s ease-in-out;
  }
  .burger__line::before {
    transform: translateX(-50%) translateY(-5px);
  }
  .burger__line::after {
    transform: translateX(-50%) translateY(5px);
  }
  .burger--active .burger__line {
    width: 0;
    background: transparent;
  }
  .burger--active .burger__line::before {
    transform: translateX(-50%) rotate(45deg);
  }
  .burger--active .burger__line::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}
.logo__img {
  height: 60px;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (min-width: 992px) {
  .logo__img {
    height: calc(0.0269396552 * 100vw + 33.275862069px);
  }
}
@media (min-width: 1920px) {
  .logo__img {
    height: 85px;
  }
}

.btn {
  font-size: 14px;
  background-color: #D9291D;
  color: #fff;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #D9291D;
  transition: background-color 0.23s ease-in-out, color 0.23s ease-in-out;
}
@media (min-width: 992px) {
  .btn {
    padding-left: calc(0.0096982759 * 100vw + 5.3793103448px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .btn {
    padding-right: calc(0.0096982759 * 100vw + 5.3793103448px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-right: 24px;
  }
}
@media (min-width: 992px) {
  .btn {
    padding-top: calc(0.005387931 * 100vw + 4.6551724138px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-top: 15px;
  }
}
@media (min-width: 992px) {
  .btn {
    padding-bottom: calc(0.005387931 * 100vw + 4.6551724138px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-bottom: 15px;
  }
}
.btn:hover {
  color: #D9291D;
  background-color: #fff;
}

.tab__info {
  display: none;
  opacity: 0;
  transition: opacity 0.23s ease-in-out;
}
.tab__info--active {
  display: block;
}
.tab__info--opacity {
  opacity: 1;
}

.accordion__content,
.accordionAlt__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.23s ease-in-out;
}
.accordion__content--pos,
.accordionAlt__content--pos {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 10;
}

.count {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 992px) {
  .count {
    gap: calc(0.0107758621 * 100vw + -0.6896551724px);
  }
}
@media (min-width: 1920px) {
  .count {
    gap: 20px;
  }
}
.count__num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 992px) {
  .count__num {
    font-size: calc(0.0064655172 * 100vw + 11.5862068966px);
  }
}
@media (min-width: 1920px) {
  .count__num {
    font-size: 24px;
  }
}
.count__plus, .count__minus {
  padding: 0 4px;
  cursor: pointer;
  color: #E3E3E3;
  font-size: 18px;
  transition: color 0.23s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 992px) {
  .count__plus, .count__minus {
    font-size: calc(0.0064655172 * 100vw + 11.5862068966px);
  }
}
@media (min-width: 1920px) {
  .count__plus, .count__minus {
    font-size: 24px;
  }
}
.count__plus:hover, .count__minus:hover {
  color: #4B4444;
}

.check {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.label {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.label__input:checked + .label__inputCustom {
  background-color: #FAB700;
  border-color: #FAB700;
}
.label__input:checked + .label__inputCustom::after {
  transform: translate(-50%, -50%) scale(1);
}
.label__inputCustom {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  transition: background-color 0.23s ease-in-out, border-color 0.23s ease-in-out;
}
.label__inputCustom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/icons/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.23s ease-in-out;
}
.label--alt .label__input:checked + .label__inputCustom {
  background-color: #0a514c;
}
.label--alt .label__input:checked + .label__inputCustom .label__inputCustom-icon {
  transform: translate(-50%, -50%) scale(1);
}
.label--alt .label__input:checked + .label__inputCustom .label__inputCustom-icon svg path {
  stroke: #fff;
}
.label--alt .label__inputCustom {
  position: relative;
  min-width: 16px;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  transition: background-color 0.23s ease-in-out, border-color 0.23s ease-in-out;
}
.label--alt .label__inputCustom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 7px;
  height: 5px;
  transition: transform 0.23s ease-in-out;
}
.label--alt .label__inputCustom-icon svg path {
  transition: stroke 0.23s ease-in-out;
}

.select2 {
  display: block;
}
.select2-search--dropdown {
  display: none;
}
.select2-selection {
  border-radius: 10px;
  background-color: #ced4db;
}
.select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.select2-selection__arrow::before, .select2-selection__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 2px;
  background-color: #20292a;
  transition: transform 0.23s ease-in-out;
  border-radius: 50px;
  pointer-events: none;
  z-index: 3;
}
.select2-selection__arrow::before {
  right: 15px;
  transform: rotate(45deg);
}
.select2-selection__arrow::after {
  right: 11px;
  transform: rotate(-45deg);
}
.select2-dropdown {
  border-radius: 10px;
}
.select2-results {
  background-color: #fff;
  border: 1px solid #ced4db;
  border-radius: 10px;
}
.select2-results__options {
  transition: max-height 0.23s ease-in-out;
}
.select2-results__options::-webkit-scrollbar {
  width: 3px;
  height: 0;
  background-color: transparent;
}
.select2-results__options::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.select2-results__option {
  color: #20292a;
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  transition: color 0.23s ease-in-out;
}
.select2-container.select2-container--open .select2-dropdown--below {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0 0 10px 10px;
}
.select2-container.select2-container--open .select2-dropdown--above {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
}
.select2-container.select2-container--open .select2-selection__arrow::before {
  transform: rotate(-45deg);
}
.select2-container.select2-container--open .select2-selection__arrow::after {
  transform: rotate(45deg);
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: transparent;
  color: #D9291D;
}
.select2-container--default .select2-results__options {
  height: 80px;
}
.select2-container--default .select2-results__option--selected {
  color: #20292a;
  background-color: transparent;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  outline: none;
  line-height: 1;
  padding: 0;
  border: none;
  height: auto;
  border-radius: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #20292a;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #20292a;
  outline: none;
  line-height: 1;
  font-size: 14px;
  padding: 12px 0 12px 15px;
}
.select2 b {
  display: none !important;
}/*# sourceMappingURL=style.css.map */