.burger {
  display: none;
}

@media (max-width: 992px) {
  .burger {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #202323;
    padding: 12px 8px;
    z-index: 5;
    border-radius: 7px;
    cursor: pointer;

    &__line {
      position: relative;
      display: block;
      width: 12px;
      height: 1px;
      border-radius: 3px;
      background: #454A4A;
      transition: all .23s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 18px;
        height: 1px;
        background: #454A4A;
        border-radius: 3px;
        transition: all .23s ease-in-out;
      }

      &::before {
        transform: translateX(-50%) translateY(-5px)
      }

      &::after {
        transform: translateX(-50%) translateY(5px)
      }
    }

    &--active {
      .burger {
        &__line {
          width: 0;
          background: transparent;

          &::before {
            transform: translateX(-50%) rotate(45deg);
          }

          &::after {
            transform: translateX(-50%) rotate(-45deg);
          }
        }
      }
    }
  }
}