// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// *::-webkit-scrollbar {
//   width: 3px;
//   height: 0;
//   background-color: transparent;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: #00000033;
//   border-radius: 25px;
// }

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

// ol {
//   counter-reset: num;
//   list-style: decimal-leading-zero;

//   li {
//     &:before {
//       content: counter(num, decimal-leading-zero);
//       counter-increment: num;
//       color: #FF7707;
//       font-size: 40px;
//       font-weight: 500;
//       line-height: 120%;
//       letter-spacing: -0.2px;
//     }
//   }
// }

input,
button {
  font: inherit;
}

fieldset {
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #F5F5F5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  @include fluid(font-size, 16px, 18px);
  @include fluid(line-height, 20px, 25.2px);
  color: #222222;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.wrapper {
  // min-height: 100dvh;
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.main {
  flex-grow: 1;
}

.container {
  // контейнер + padding с двух сторон
  @include fluid(width, 962px, 1336px);
  @include container;
}

[class$="__icon"],
[class$="-icon"] {
  display: flex;
  align-items: center;

  svg {
    path {
      transition: fill .23s ease-in-out, stroke .23s ease-in-out;
    }
  }
}

.logo {
  &__img {
    -o-object-fit: contain;
    object-fit: contain;
    @include fluid(height, 40px, 47px);
  }
}

@media (max-width: 1366px) {}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}