.search {
	width: 100%;
	max-width: 474px;

	&__label {
		display: flex;
		align-items: center;
		gap: 10px;
		padding-top: 12px;
		padding-bottom: 12px;
		@include fluid(padding-left, 14px, 22px);
		@include fluid(padding-right, 14px, 22px);
		border: 1px solid #F2F2F2;
		border-radius: 30px;
		background-color: #F2F2F2;
		transition: border-color 0.23s ease-in-out;

		&:hover,
		&:focus-within {
			border-color: #FAB700;

			.search__icon {
				svg {
					path {
						fill: #FAB700;
					}
				}
			}
		}
	}

	&__input {
		width: 90%;
		font-size: 14px;
		background-color: transparent;

		&::-webkit-input-placeholder {
			color: #6C6C6C;
		}

		&::-moz-placeholder {
			color: #6C6C6C;
		}

		&:-ms-input-placeholder {
			color: #6C6C6C;
		}

		&::-ms-input-placeholder {
			color: #6C6C6C;
		}

		&::placeholder {
			color: #6C6C6C;
		}
	}

	&__icon {
		cursor: pointer;

		svg {
			path {
				transition: fill 0.23s ease-in-out;
			}
		}

		&:hover {
			svg {
				path {
					fill: #FAB700;
				}
			}
		}
	}
}